{% extends "base.html" %}
{% block content %}
<h1 class="text-center p-5 bg-primary text-white mb-5">Add Student</h1>
<div class="container">
    <form method="post" class="row g-3">
      {% csrf_token %}
        <div class="col-md-6">
          <label for="fname" class="form-label">First Name</label>
          <input required type="text" name="fname" class="form-control" id="fname" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <label for="lname" class="form-label">Last Name</label>
          <input  required  type="text" name="lname" class="form-control" id="lname" placeholder="Last Name">
        
        </div>
        <div class="col-md-12">
          <label for="father_name" class="form-label">Father Name</label>
          <input  required type="text" name="father_name" class="form-control" id="father_name" placeholder="Father Name">
        
        </div>
        <div class="col-md-6">
          <label for="roll_no" class="form-label">Roll No</label>
          <input  required type="text" name="roll_no" class="form-control" id="roll_no" placeholder="Roll No">
        
        </div>
        <div class="col-md-6">
          <label for="phone_no" class="form-label">Phone No</label>
          <input required  type="text" name="phone_no" class="form-control" id="phone_no" placeholder="Phone No">
        
        </div>
        <div class="col-md-12">
          <label for="postcode" class="form-label">Postal Code</label>
          <input  required type="text" name="postcode" class="form-control" id="postcode">
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Student</button>
        </div>
      </form>
</div>

{% endblock content %}