{% extends "base.html" %}
{% block content %}
<h1 class="text-center p-5 bg-primary text-white mb-5">Update Student {{student.first_name}}</h1>
<div class="container">
    <form method="post" class="row g-3">
      {% csrf_token %}
        <div class="col-md-6">
          <label for="fname" class="form-label">First Name</label>
          <input  type="text" name="fname" class="form-control" value="{{student.first_name}}" id="fname" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <label for="lname" class="form-label">Last Name</label>
          <input    type="text" name="lname" class="form-control" value="{{student.last_name}}" id="lname" placeholder="Last Name">
        
        </div>
        <div class="col-md-12">
          <label for="father_name" class="form-label">Father Name</label>
          <input   type="text" name="father_name" class="form-control" value="{{student.father_name}}" id="father_name" placeholder="Father Name">
        
        </div>
        <div class="col-md-6">
          <label for="roll_no" class="form-label">Roll No</label>
          <input   type="text" name="roll_no" class="form-control" value="{{student.roll_no}}" id="roll_no" placeholder="Roll No">
        
        </div>
        <div class="col-md-6">
          <label for="phone_no" class="form-label">Phone No</label>
          <input   type="text" name="phone_no" class="form-control" value="{{student.phone_no}}" id="phone_no" placeholder="Phone No">
        
        </div>
        <div class="col-md-12">
          <label for="postcode" class="form-label">Postal Code</label>
          <input   type="text" name="postcode" class="form-control" value="{{student.postal_code}}" id="postcode">
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update Student</button>
        </div>
      </form>
</div>

{% endblock content %}