{% extends "base.html" %}
{% block content %}
  <h1 class="text-center my-5">View Student</h1>
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Father Name</th>
            
            <th scope="col">Phone_No</th>
           
            <th scope="col">Postal Code</th>
            <th scope="col">Created At</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
            {% for i in student %}
            <tr>
                <th class="p-3" scope="row">{{i.id}}</th>
                <td  class="p-3">{{i.first_name}}</td>
                <td  class="p-3">{{i.last_name}}</td>
                <td  class="p-3">{{i.father_name}}</td>
               
                <td  class="p-3">{{i.phone_no}}</td>
               
                <td  class="p-3">{{i.postal_code}}</td>
                <td  class="p-3">{{i.created_at }}</td>

                <td>
                    <a href="{% url 'update' i.id %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are You Sure Want to Delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
        <button type="button" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
                </td>
            </tr>
            {% endfor %}
            

         

        </tbody>
      </table>
  </div>
{% endblock content %}