{% extends "base.html" %}
{% block content %}
  <h1 class="text-center my-5">View Student</h1>
  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Father Name</th>
            
            <th scope="col">Phone_No</th>
           
            <th scope="col">Postal Code</th>
            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
         
            {% for i in student %}
            <tr>
                <th class="p-3" scope="row">{{forloop.counter}}</th>
                <td  class="p-3">{{i.first_name}}</td>
                <td  class="p-3">{{i.last_name}}</td>
                <td  class="p-3">{{i.father_name}}</td>
               
                <td  class="p-3">{{i.phone_no}}</td>
               
                <td  class="p-3">{{i.postal_code}}</td>
              
                <td cmd>
                    <a href="" class="btn btn-primary">Update</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
            

         

        </tbody>
      </table>
  </div>
{% endblock content %}